@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

$bg1 : #630cc9;
$bg2 : #7c1880;
$bg3: silver;
$color1 : #ffffff;
$font: 'Roboto';

*{
    margin: 0;
    padding: 0;
}

.slide{
    width: 100%;
    min-height: 100vh;
}

.wrapper{
    width: 90%;
    margin: 0 auto;

    #info &{
        display: flex;
        justify-content: space-between;
    }

    #header &{
        display: flex;
        justify-content: space-between;
    }

    #home > &{
        height: calc(100vh - 113px);
        display: flex;
        align-items: center;

        @media all and (max-width: 500px)
        {
            height: calc(100vh - 140px); 
        }
    }
}

#home{
    background-color: $bg3;
    font-family: $font;

    #jumbotron{
        color: white;
        width: 40%;  
        h1{
            font-size: 64px;
            margin: 20px 0;
        }

        p{
            margin-bottom: 20px;
        }

        a{
            width: 40%;
            margin-right: 5px;
            display: inline-block;
            line-height: 50px;
            text-align: center;
            color: white;
            text-decoration: none;
            border-radius: 10px;

            @media all and (max-width: 500px)
            {
                display: block;
                width: 60%;
                margin-bottom: 10px;
            }
        }

        #contactez{
            background-color: #15d0e8;
        }

        #voir{
            background-color: transparent;
            border: solid 1px white;
        }

        @media all and (max-width: 768px)
        {
            width: 80%;
        }
    }

}

header{
    width: 100%;
    color: $color1;

    #info{
        background-color: $bg1;
        line-height: 30px;
        span{
            margin-right: 20px;
            
            @media all and (max-width: 500px)
            {
                display: block;
            }
        }
    }

    #header{
        background-color: $bg2;

        #logo{
            line-height: 80px;
            font-weight: 900;
            font-size: 24px;
        }

        nav{
            width: 40%;

            ul{
                display: flex;
                list-style: none;
                li{
                    flex: 1;
                    text-align: center;
                    line-height: 80px;
                    a{
                        color: $color1;
                        text-decoration: none;
                        font-size: 24px;
                    }
                }

                @media all and (max-width: 768px)
                {
                    display: none;
                }
            }
        }
    }

}

#eta{
    font-family: $font;

    h2{
        font-size: 36px;
        padding: 25px 0;
    }

    .schools{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        padding-bottom: 25px;

        .card{
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
            border-radius: 20px;

            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .info{
                padding: 15px;

                h3,p{
                    margin-bottom: 15px;
                }

                a{
                    display: block;
                    background-color: #15d0e8;
                    padding: 5px 10px;
                    width: 150px;
                    text-align: center;
                    color: black;
                    text-decoration: none; 
                    border-radius: 10px;
                }
              
            }

        }

        @media all and (max-width: 768px)
        {
            grid-template-columns: 1fr 1fr;
        }

        @media all and (max-width: 500px)
        {
            grid-template-columns: 1fr;
        }

    }

}

#contact{
    display: flex;
    flex-wrap: wrap;

    .gauche{
        width: 35%;
        min-height: 100vh;
        background-color: $bg2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .info{
                background-color: silver;
                width: 70%;
                padding: 10%;
                box-shadow: 0px 10px 0px #15d0e8;
                position: relative;
                left: 20%;
                h3{
                    padding: 20px 0;
                    position: relative;
                    left: -25%;
                    font-size: 40px;
                }

            }
            .contact-social{
                width: 60%;
                margin-top: 30px;
            }
        }

    }

    .droite{
        width: 65%;
        min-height: 100vh;
        background-color: $bg1;
    }

}
